#newchef-header {
  background: #FFFFFF url("../Provided/images/kitchen-2-duotone.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  padding-bottom: 145px;
}

#example-header {
  background: #FFFFFF url("../Provided/images/1920x1080 kopie 2.gif") no-repeat center;
  background-size: cover;
  height: 500px;
  padding-bottom: 145px;
}
