html {
  overflow-x: hidden;
}

.large-space {
  height: 2000px;
}

.header{
  background: #FFFFFF url("../Provided/images/ramblersnewhomeopt.jpg") no-repeat center bottom;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  background-size: cover;
  min-height: 692px;
  padding-bottom: 145px;
}

/* Custom elements */
.navbar-shadow {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.45)
}

/* Custom colors */
.bg-custom{
  background-color: #477563 !important;
}

.header-btn button {
  color: #477563 !important;
}

.header-btn button:hover {
  background-color: #477563 !important;
  color: white !important;
}
