html {
  overflow-x: hidden;
}

.large-space {
  height: 2000px;
}

.header{
  background: #FFFFFF url("../Provided/images/ramblersnewhomeopt.jpg") no-repeat center bottom;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  background-size: cover;
  min-height: 692px;
  padding-bottom: 145px;
}

.header-border {
  border: 4px solid white;
}

/* Custom elements */
.navbar-shadow {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.45)
}

.white-border {
  border: 15px solid white;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.09), 0px 0px 2px rgba(0,0,0,0.09), 6px 6px 8px rgba(0,0,0,0.35);
}

.leaf {
  position: absolute;
  margin-top: 750px;
  margin-left: 300px;
}

.anchor {
  display: block;
  position: relative;
  top: -107px;
  visibility: hidden;
}

.gradient {
  height: 36px;
  width: 100vw !important;
  left: 0;
  margin-top: 5rem;
  position: absolute;
  background: linear-gradient(to bottom,rgba(0,0,0,0.25) ,rgba(0,0,0,0) 100%);
}

.white-space{
  height: 10rem;
}

/* Custom colors */
.bg-custom{
  background-color: #477563 !important;
}

.bg-custom-light{
  background-color: #aec1b4 !important;
}


.text-custom {
  color: #477563 !important;
}

.btn-custom {
  background-color: #477563 !important;
  color: white !important;
  border: 1px solid white;
}

.btn-custom:hover {
  background-color: white !important;
  color: #477563 !important;
  border: 1px solid #477563;

}


.header-btn button {
  color: #477563 !important;
}

.header-btn button:hover {
  background-color: #477563 !important;
  color: white !important;
}
